{
    "extends": "stylelint-config-recommended",
    "rules": {
            "at-rule-no-unknown": [ true, {
                "ignoreAtRules": [
                    "extends",
                    "tailwind",
                    "define-mixin",
                    "mixin"
                ]
            }],
            "block-no-empty": null,
            "unit-whitelist": ["em", "rem", "s", "%"]
        }
}