.Backdrop-enter {
  opacity: 0;
}

.Backdrop-enter-active {
  animation: showBackdrop 0.3s ease-out forwards;
}

.Backdrop-enter-done {
  opacity: 0.6;
}

.Backdrop-exit-active {
  animation: hideBackdrop 0.3s ease-out forwards;
}

@keyframes showBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes hideBackdrop {
  from {
    opacity: 0.6;
  }

  to {
    opacity: 0;
  }
}
